* {
  box-sizing: border-box;
}
body {
  font-family: "Sen", sans-serif;
  font-size: small;
  background-color: #dbebe9;
  color:  #2f3736;
}

main {
  width: 100%;
  max-width: 70vw;
  margin: 10% auto;
  padding: 5%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

.colorbox {
  width: 12vw;
  height: 12vw;
}

#colors {
    display: flex;
    margin: 3% auto;
}
